<div id="party-detail">
    <div class="text-center text-l mb-5 font-dancing-script">
        <small>Save the date!</small>
        <h1 class="text-3xl p-2">{{ party.party_date.strftime('%Y-%m-%d') }} {{ party.party_time.strftime('%H:%M') }}</h1>
        at
        <h2 class="text-2xl">{{ party.venue }}</h2>
    </div>

    <div>
        {{ party.invitation }}
    </div>

    <button class="btn-default mr-0 ml-auto block"
            hx-get="{{ url_for('partial_party_detail_edit', party_id=party.uuid) }}"
            hx-target="#party-detail"
    >
        Edit
    </button>
</div>